$selected-color: green;

.panel-select {
    input {
        display: none;
    }

    .button {
        margin: 0;
        border: 1px solid #cccccc;
    }

    input:checked + .button,
    input:checked + .button:active {
        background-color: $selected-color;
    }
}

.submit-button {
    margin: 1rem 0;
    .button {
        background-color: #0d98ba;
    }
}

.form-error.show {
    // 因為 foundation default 把 form-error display: none (update by their js)
    // 我們顯示邏輯是自己寫的，所以直接把他 display. 再用 React 去操控是否顯示它
    display: inline-block;
    margin-left: 10px;
}