$selected-color: green;

.panel-select {
    input {
        display: none;
    }

    .button {
        margin: 0;
        border: 1px solid #cccccc;
    }

    input:checked + .button,
    input:checked + .button:active {
        background-color: $selected-color;
    }
}
